body{
  background-color: white;
  color: black;
}

.navbar-custom{
  background-color: black;
  color: white;
}
.navbar-toggler-icon{
  color: white;
}

.intro{
  margin-top: 150px;
  margin-bottom: 200px;
}

.dp{
  width: 300px;
  height: 300px;
  border-radius: 500px;
  margin-bottom: 30px;
}
.hello{
  /* padding: 10px; */
  position: relative;
  font-weight: 900;
  font-size: 2em;
}
.hello .text-wrapper {
  position: relative;
  display: block;
  padding-top: 0.2em;

  overflow: hidden;
}

.hello .letter {
  display: inline-block;
  line-height: 1em;
}

.cv-btn{
  font-size: 20px;
  font-weight: 900;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  display: block;
}

.skills{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}
.list-inline-item{
  padding: 10px;
}
.icons>i{
  color: black;
}
