body{
  /* background-color: white; */
  color: white;
  font-family: 'Mali', cursive;

}

#particles-js{
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: -20;
  background-color: #5b6472;
}



 .navbar {

    background-color: transparent !important;

}
 .navbar .navbar-brand{
  font-family: 'Great Vibes', cursive;
  font-size: 2em; 
  color: #0fdd81!important;
 } 


.navbar .navbar-toggler:hover {
  background-color: #0fdd81;;
}
 .navbar a{
  font-weight: 900;
  font-size: 1.3em;
  color: white!important;
}

.navbar a:hover {
  color: #0fdd81!important;
} 
  

.navbar .navbar-nav>.active  a{
  color: #0fdd81!important;
  /* background-color: #0fdd81;
  border-radius: 15%; */
}

.intro{
  /* margin-top: 100px; */
  padding-bottom: 250px;
  padding-top: 160px;
  /* background-color: #cc00ff; */

}


.dp{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* display: block;
  margin: auto; */
  margin-bottom: 30px;

}
.aboutme{
 
  padding-top: 100px;
  
}
/* .dp:hover{
  transform: scale(1.2);
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 2);
} */
.hello{
  /* padding: 10px; */
  position: relative;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;

}
.hello .text-wrapper {
  position: relative;
  display: block;
  padding-top: 0.2em;

  overflow: hidden;
}

.hello .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}


.slogan{
  color: #0fdd81;
  text-decoration: underline
}



.cv-btn{
  font-size: 1.55em;
  font-weight: 900;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  display: block;
}

.title{
  
  font-size: 3em;
  font-weight: 700;
  color: #0fdd81;

}


.skill-wrapper{
  padding-top: 60px;
  padding-bottom: 350px;
  /* padding-left: 150px;
  padding-right: 150px; */
  /* background-color: #6600ff; */
}


.skill-list{
  font-size: 1.4em;
  
}
.skill-list ul{
  list-style: none;
}



.skill-list ul li::before{
  content: "\25CF";
  color:#0fdd81;
  /* display: inline; */
  /* padding: 20px; */
}

.skill-list li:hover{
  color: #0fdd81;
  text-decoration: underline;
}

.skill-list-one{
  padding-left: 30px;
}
.project-wrapper{
   padding-top: 60px;
   /* padding-left: 150px;
   padding-right: 150px; */
   padding-bottom: 100px;
   /* background-color: #9933ff; */
   position: relative;
   
 }

.project-wrapper a{
  margin-bottom: 50px;
}

.card-img-top{
  margin:auto;
  display: block;
  overflow: hidden;
}
.card-img-top:hover {
    box-shadow: 0 0 2px 1px rgba(66, 244, 125, 0.603);
}

.card-title{
  font-size: 1.8em;
  font-weight: 600;
}
.card-title:hover{
  color: #0fdd81;
  text-decoration: underline;
}

.card-text{
  font-size: 1.2em;
  text-align: center;
}
.card-body a, a:hover, a:active, a:visited{
  font-weight: 600;
  border: none!important;
}

.icons{
  padding: 10px;
}
.icons i{
  color: white;
}
.icons i:hover{
  color: #0fdd81;
}

#contact{
  padding-top:15px;
  padding-bottom:15px;
  /* background-color:#336699; */
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #0fdd81;
  border: none!important;
  
  /* border-block-end-color: #0fdd81; */
  /* border-radius: %; */
}
@media(min-width:960px){

  .skill-list ul{
     padding-left:150px;
  }
  .profile-pic{
    padding-left: 100px;
  }
  .dp{
    width: 350px;
    height: 350px;
  }
}