body{
  /* background-color: white; */
  color: white;
  font-family: 'Mali', cursive;

}

#particles-js{
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: -20;
  background-color: black;
}



.navbar {
    /* padding-top: 1.5rem;
    padding-bottom: 1.5rem; */
    background-color: transparent !important;

}

.navbar a{
  font-weight: 900;
  font-size: 1.5em;
  color: white!important;
}

.intro{
  /* margin-top: 100px; */
  padding-bottom: 250px;
  padding-top: 160px;
  /* background-color: #cc00ff; */

}


.dp{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 30px;

}
.hello{
  /* padding: 10px; */
  position: relative;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;

}
.hello .text-wrapper {
  position: relative;
  display: block;
  padding-top: 0.2em;

  overflow: hidden;
}

.hello .letter {
  display: inline-block;
  line-height: 1em;
}



.cv-btn{
  font-size: 1.55em;
  font-weight: 900;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  display: block;
}

.title{
  font-size: 2.5em;
  font-weight: 700;

}

.skill-wrapper{
  padding-top: 60px;
  padding-bottom: 350px;
  padding-left: 150px;
  padding-right: 150px;
  /* background-color: #6600ff; */
}


.skill-list{
  font-size: 1.5em;
}
 .project-wrapper{
   padding-top: 60px;
   padding-left: 150px;
   padding-right: 150px;
   padding-bottom: 100px;
   /* background-color: #9933ff; */
   position: relative;
 }

.project-wrapper a{
  margin-bottom: 50px;
}


.card-img-top:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 2);
}

.card-title{
  font-weight: 600;
}

.icons{
  padding: 10px;
}
.icons i{
  color: white;
}
.parallax {
    /* The image used */
    /* background-image: url("img_parallax.jpg"); */

    /* Set a specific height */
    /* height: 500px; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#contact{
  padding-top:15px;
  padding-bottom:15px;
  /* background-color:#336699; */
}
